* {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div, h1, h3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
    padding: 7px;
    border: 1px solid #9b9b9b;
}

input {
    padding: 7px;
    border: 1px solid #9b9b9b;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
